@font-face{
    font-family: "Poppins";
        src: url(../fonts/Poppins-Bold.ttf)
}

@font-face{
    font-family: "Poppins";
        src: url(../fonts/Roboto-regular.ttf)
}

.gallery__img{
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.gallery__img:hover{
    transform: scale(1.8)
}
.gallery__img--big {
   height: 400px; 
}

.gallery__img--big {
    height: 400px; 
}
.banner{
    position: relative;
}
.banner:before {
    background: rgba (0,0,0,0.7)
}

@media screen and (min-width:480px){
    .gallery__img:hover{
        transform: scale(1.3);
            padding: 10px;
        
    }
    
}

